@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&family=Inter:wght@300;400;600&display=swap');
@import "tailwindcss";

@theme {
  --color-chinese-black: #0C1519;
  --color-dark-jungle: #162127;
  --color-jet: #3A3534;
  --color-coffee: #724B39;
  --color-antique-brass: #CF9D7B;
  
  --font-display: "Syne", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  body {
     background-color: #1a1018;
    color: var(--color-chalk);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
  }
}